.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    background: rgb(0, 0, 0);
    border: 3px solid var(--cor-primaria);
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--cor-primaria);
    border-radius: 4px;
    box-sizing: border-box; 
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: var(--cor-primaria);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .back-button {
    background-color: #dadada;
    color: rgb(2, 2, 2);
  }
  
  .button:hover {
    background-color: var(--primaria-escurecida);
  }

  .back-button:hover {
    background-color: #9b9b9b;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }

  .signup {
    color: var(--cor-primaria);
    padding: 5px;
  }
  
  .signup:hover {
    background-color: var(--primaria-escurecida);
    border-radius: 25px;
    color: #FFF;
  }
  